{% extends "base.html" %}
{% block content %}
{% if post %}
<h1>{{post.post_header}}</h1>
<p>{{post.post_text}}</p>

{% if user == post.author or user.is_superuser %}
<a href="{% url 'blog:update_post' post.id %}">
    <button type="button">Update</button>
</a>

<form action="{% url "blog:delete_post" post.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>
{% endif %}

{% comment %} <button><a href="{% url "blog:update_post" post.id %}" class="link-dark text-decoration-none">Update</a></button> {% endcomment %}
{% comment %} <button><a href="{% url "blog:delete_post" post.id %}" class="link-dark text-decoration-none">Delete</a></button> {% endcomment %}
{% endif %}
{% endblock content %}

