{% extends "base.html" %}
{% block content %}
{% if post %}
<h1>{{post.post_header}}</h1>
{% if post.image %}
<img src="{{ post.image.url }}" alt="Post Image" style="max-width: 500px; height: auto;">
{% endif %}
<p>{{post.post_text}}</p>

{% if user == post.author or user.is_superuser %}
<a href="{% url 'blog:update_post' post.id %}">
    <button type="button">Update</button>
</a>

<form action="{% url "blog:delete_post" post.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>
{% endif %}

{% endif %}
{% endblock content %}

